﻿@page
@model IndexModel
@{
	ViewData["Title"] = "CashMachine";
}

<div class="text-center">
	<h3 class="display-4">Cash Machine</h3>
	<div>
		<span>Only for numbers from 10.00 to 999999.99 </span> 
		<a href="@Url.Page("./Alternative")">Try alternative solution</a>
	</div>
	<input id="amount-CashOut" type="decimal" placeholder="0.00" class="masked" pattern="^\d{2,6}.\d{2}$" data-valid-example="231235.12" title="Please enter double nuber with two places after dot. Max val"/>
	<button id="btn-CashOut" type="button" class="btn btn-light">CashOut</button>
</div>

<div class="text-center p-2">
	<textarea id="result-area" class="answer-textArea"></textarea>
</div>

<script>
	$(document).ready(function() {
		$("#btn-CashOut").click(function() {

			var pattern = RegExp("^\\d{2,6}.\\d{2}$");
			var inputAmount = $("#amount-CashOut").val();

			if (pattern.test(inputAmount)) {
				$.ajax({
					type: "GET",
					url: "https://localhost:44380/api/CashMachine",
					data: { amount: $("#amount-CashOut").val() },
					success: function(data) {
						var textArea = $("#result-area");
						textArea.val("[");

						if (data.numberOf10S != 0) {
							textArea.val(textArea.val() + "10.00, ");
						}

						for (var i = 0; i < data.numberOf20S; i++) {
							textArea.val(textArea.val() + "20.00, ");
						}

						if (data.numberOf50S != 0) {
							textArea.val(textArea.val() + "50.00, ");
						}

						for (var i = 0; i < data.numberOf100S; i++) {
							textArea.val(textArea.val() + "100.00, ");
						}

						textArea.val(textArea.val().substring(0, textArea.val().length - 2) + " ]");
					},
					error: function(data) {
						var textArea = $("#result-area");
						var status = data.status;

						if (status == undefined) {
							textArea.val("throw UnimplementedExpeption");
						}

						if (status == 418) {
							textArea.val("throw NoteUnavailableException");
						}

						if (status == 400) {
							textArea.val("throw InvalidArgumentException");
						}

						if (status == 204) {
							textArea.val("[Empty Set]");
						}
					}
				});
			} else {
				alert("Value must be between 999999.99 and 10.00, and always use two digitis after dot")
			}
		});
	});
</script>